/* Specific styles for the account management page. */
.xrx-acct-mgmt .xrx-panel-top {
  margin-top: 3px;
}
.xrx-acct-mgmt .xrx-panel-left {
  margin-left: 3px;
}
.xrx-acct-mgmt .xrx-panel-right {
  margin-right: 3px;
}
